.login-page {
  top: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: block;
  /* background-color: #303F9F; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
mat-card {
  width: 40%;
  margin: 5% auto;
  padding-bottom: 3%;
  border-radius: 8px;
}
mat-form-field, mat-checkbox {
  width: 80%;
  display: block;
  margin: auto;
}
mat-card-content {
  margin-top: 20px;
}

.login-button {
  margin-top: 20px;
  display: block;
  width: 80%;
  margin: 20px auto;
}
mat-form-field input {
  border: none;
  height: initial !important;
}

mat-form-field input:focus {
  border: none;
  box-shadow: none;
  height: initial !important;
}
p a{
  text-decoration:none;
}
