<div class="login-page">
  <mat-card class="mat-elevation-z12">
    <mat-card-title style="text-align:center;">SignIn</mat-card-title>
        <mat-card-content>
          <form action="" #ng>
            <mat-form-field>
              <input
                matInput
                placeholder="Email"
                required
                [(ngModel)]="loginUserData.emailAddress"
                name="email"
                #email="ngModel">
              <mat-icon matSuffix>perm_identity</mat-icon>
              <mat-error
                *ngIf="email.invalid">
                Email is required
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <input
                matInput
                placeholder="Password"
                type="password"
                required
                name="password"
                ngModel
                #password="ngModel"
                [(ngModel)]="loginUserData.password"
                >
                <mat-error
                  *ngIf="password.errors && password.errors?.['required']">
                  Password is required
                </mat-error>
              <mat-icon matSuffix>lock</mat-icon>
            </mat-form-field>
            <button
              mat-raised-button
              color="primary"
              (click) = "loginUser()"
              class="login-button">
              Sign In
            </button>
          </form>
        <p style="text-align: center;"><a routerLink="/register">Don't have an account?</a></p>
        </mat-card-content>
  </mat-card>
</div>
