  footer{
  display: block;
  position:absolute;
   bottom: 0;
   left: 0;
   right: 0;
   height: 50px;
   width: 100%;
   border-top: 1px solid white;
   display: flex;
   justify-content: center;
   align-items:center;
   font-size:20px;
  }


