<div class="login-page">
  <mat-card class="mat-elevation-z12">
    <mat-card-title style="text-align: center">Register Here</mat-card-title>
    <mat-tab-group mat-stretch-tabs class="example-stretched-tabs">
      <mat-tab label="As Admin">
        <mat-card-content>
          <form action="" #ng>
            <mat-form-field>
              <input
                matInput
                placeholder="Email Address"
                required
                [(ngModel)]="user.emailAddress"
                name="email"
                email="true"
                type="email"
                #email="ngModel"
              />
              <mat-icon matSuffix>email</mat-icon>
              <mat-error *ngIf="email.errors">Invalid email</mat-error>
              <mat-error *ngIf="email.errors?.['required']"> Email is required </mat-error>
            </mat-form-field>
            <mat-form-field>
              <input
                matInput
                placeholder="full name"
                required
                [(ngModel)]="user.fullName"
                name="username"
                #fullname="ngModel"
              />
              <mat-error *ngIf="fullname.invalid"
                >This field is required</mat-error
              >
              <mat-icon matSuffix>perm_identity</mat-icon>
            </mat-form-field>
            <mat-form-field>
              <input
                matInput
                placeholder="username"
                required
                [(ngModel)]="user.userName"
                name="username"
                #username="ngModel"
              />
              <mat-error *ngIf="username.invalid"
                >This field is required</mat-error
              >
              <mat-icon matSuffix>perm_identity</mat-icon>
            </mat-form-field>
            <mat-form-field>
              <input
                matInput
                placeholder="Password"
                type="password"
                required
                minlength="6"
                name="password"
                ngModel
                #password="ngModel"
                [(ngModel)]="user.password"
              />
              <mat-error
                *ngIf="password.errors && password.errors?.['required']"
              >
                Password is required
              </mat-error>
              <mat-error
                *ngIf="password.errors && password.errors?.['minlength']"
              >
                Password must be of length 6
              </mat-error>
              <mat-icon matSuffix>lock</mat-icon>
            </mat-form-field>
            <mat-form-field>
              <input
                matInput
                placeholder="Confirm password"
                type="password"
                required
                minlength="6"
                name="confirm_password"
                ngModel
                #confirm_password="ngModel"
                [(ngModel)]="user.confirmPassword"
              />
              <mat-error
                *ngIf="confirm_password.errors && confirm_password.errors?.['required']"
              >
                Confirm Password is required
              </mat-error>
              <mat-icon matSuffix>lock</mat-icon>
            </mat-form-field>
            <button
              mat-raised-button
              color="primary"
              (click)="registerEmployer()"
              class="login-button"
            >
              Sign Up
            </button>
          </form>
          <!-- end of the employer data -->
        </mat-card-content>
      </mat-tab>
      <mat-tab label="As User">
        <mat-card-content>
          <form action="" #ng>
            <mat-form-field>
              <input
                matInput
                placeholder="Email Address"
                type="email"
                email="true"
                required
                [(ngModel)]="user.emailAddress"
                name="email"
                #email="ngModel"
              />
              <mat-icon matSuffix>email</mat-icon>
              <mat-error *ngIf="email.errors">Invalid email</mat-error>
              <mat-error *ngIf="email.errors?.['required']"> Email is required </mat-error>
            </mat-form-field>
            <mat-form-field>
              <input
                matInput
                placeholder="Personal full name"
                required
                [(ngModel)]="user.fullName"
                name="username"
                #fullname="ngModel"
              />
              <mat-error *ngIf="fullname.invalid"
                >This field is required</mat-error
              >
              <mat-icon matSuffix>perm_identity</mat-icon>
            </mat-form-field>
            <mat-form-field>
              <input
                matInput
                placeholder="User name"
                required
                [(ngModel)]="user.userName"
                name="username"
                #username="ngModel"
              />
              <mat-error *ngIf="username.invalid"
                >This field is required</mat-error
              >
              <mat-icon matSuffix>perm_identity</mat-icon>
            </mat-form-field>
            <mat-form-field>
              <input
                matInput
                placeholder="Password"
                type="password"
                required
                minlength="6"
                name="password"
                ngModel
                #password="ngModel"
                [(ngModel)]="user.password"
              />
              <mat-error
                *ngIf="password.errors && password.errors?.['required']"
              >
                Password is required
              </mat-error>
              <mat-error
                *ngIf="password.errors && password.errors?.['minlength']"
              >
                Password must be of length 6
              </mat-error>
              <mat-icon matSuffix>lock</mat-icon>
            </mat-form-field>
            <mat-form-field>
              <input
                matInput
                placeholder="Confirm password"
                type="password"
                required
                minlength="6"
                name="confirm_password"
                pattern="{{ user.password }}"
                ngModel
                #confirm_password="ngModel"
                [(ngModel)]="user.confirmPassword"
              />

              <mat-error
                *ngIf="confirm_password.errors?.['required']"
              >
                confirm Password is required
              </mat-error>
              <mat-error *ngIf="confirm_password.errors?.['pattern']">
                Password does not match
              </mat-error>
              <mat-icon matSuffix>lock</mat-icon>
            </mat-form-field>
            <button
              mat-raised-button
              color="primary"
              (click)="registerEmployee()"
              class="login-button"
            >
              Sign Up
            </button>
          </form>
          <!-- end of the employer data -->
        </mat-card-content>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</div>
