<h1 mat-dialog-title>Add Product Form</h1>

<div mat-dialog-content>
  <form [formGroup]='productForm'>
    <mat-form-field appearance="outline">
      <mat-label>Product Name</mat-label>
      <input formControlName="productName" matInput placeholder="Name" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Product Category</mat-label>
      <mat-select formControlName="category" placeholder="Category">
        <mat-option value="Fruits">Fruits</mat-option>
        <mat-option value="Vegetables">Vegetables</mat-option>
        <mat-option value="Electronics">Electronics</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Choose a date</mat-label>
      <input formControlName="date" matInput [matDatepicker]="picker" />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <label for=""><h1>Product Freshness</h1></label>
    <mat-radio-group formControlName="freshness" class="radio-group">
      <mat-radio-button
        class="radio-button"
        *ngFor="let item of freshnessList"
        [value]="item"
      >
        {{ item }}
      </mat-radio-button>
    </mat-radio-group>
    <mat-form-field appearance="outline">
      <mat-label>Product Price</mat-label>
      <input formControlName="price" matInput type="number" placeholder="Product Price" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Comment</mat-label>
      <textarea formControlName="comment" matInput placeholder="place your comments..."> </textarea>
    </mat-form-field>
  </form>
</div>

<div mat-dialog-actions [align]="'center'">
  <button mat-raised-button color="primary" (click)="productUpdateAndCreate()">{{actionText}}</button>
  <button  mat-raised-button color="warn" mat-dialog-close>Cancel</button>
</div>
