.example-spacer {
  flex: 1 1 auto;
}
table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}
.container{
  max-width:1200px;
  margin: 0 auto;
}
.app-tool-bar{
  position: fixed;
  position: -webkit-sticky; /* For macOS/iOS Safari */
  top: 0; /* Sets the sticky toolbar to be on top */
  z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
}
button{
  margin:10px;
}
 a{
  text-decoration:none;
  color:#000;
}
.contents{
  margin-top:70px;
}
