<mat-toolbar class="app-tool-bar" color="primary">
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>supervised_user_circle</mat-icon>
  </button>
  <span><a routerLink="/">Angular Crud Demo</a></span>
  <span class="example-spacer"></span>
  <button *ngIf="!authService.isLoggedin()" mat-raised-button color="secondary" >
    <a routerLink="login">Login</a>
  </button>
  <p *ngIf="authService.isLoggedin()">
    {{getLoggedUser()}}
  </p>
  <button *ngIf="authService.isLoggedin()" (click)="logout()" mat-raised-button color="secondary" >
    Logout
  </button>
  <button *ngIf="authService.isLoggedin() " mat-raised-button color="warn" (click)="openDialog()">
    Add Product
  </button>
</mat-toolbar>
<div class="contents">
<router-outlet></router-outlet>
</div>
<div *ngIf="authService.isLoggedin()" class="container">
  <div style="margin-top: 10px">
    <mat-form-field appearance="standard">
      <mat-label>Filter</mat-label>
      <input
        matInput
        (keyup)="applyFilter($event)"
        placeholder="Ex. Mia"
        #input
      />
    </mat-form-field>

    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="productName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Product Name
          </th>
          <td mat-cell *matCellDef="let row">{{ row.productName }}</td>
        </ng-container>
        Progress Column
        <ng-container matColumnDef="category">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Category</th>
          <td mat-cell *matCellDef="let row">{{ row.category }}</td>
        </ng-container>

        Name Column
        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Price</th>
          <td mat-cell *matCellDef="let row">{{ row.price | currency}}</td>
        </ng-container>

        Fruit Column
        <ng-container matColumnDef="freshness">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Freshness</th>
          <td mat-cell *matCellDef="let row">{{ row.freshness }}</td>
        </ng-container>
        <ng-container matColumnDef="comment">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Comment</th>
          <td mat-cell *matCellDef="let row">{{ row.comment }}</td>
        </ng-container>
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
          <td mat-cell *matCellDef="let row">{{ row.date | date}}</td>
        </ng-container>
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Actions</th>
          <td mat-cell *matCellDef="let row">
            <button (click)="editProduct(row)" mat-icon-button color="primary">
              <mat-icon>edit</mat-icon>
            </button>
            <button (click)="deleteProduct(row._id)" mat-icon-button color="warn">
              <mat-icon>delete</mat-icon>
            </button>
          </td>

        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

        Row shown when there is no matching data.
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">
            No data matching the filter "{{ input.value }}"
          </td>
        </tr>
      </table>

      <mat-paginator
        [pageSizeOptions]="[5, 10, 25, 100]"
        aria-label="Select page of users"
      ></mat-paginator>
    </div>
  </div>
</div>
<app-footer>  </app-footer>





